<div class="container my-5">
    <div class="row">
        <div class="col-4 mx-auto">
            <form ngNativeValidate class="border p-3 rounded shadow">
                <h2 class="bold">Accedi</h2>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input [(ngModel)]="_user.email" type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input [(ngModel)]="_user.password" type="password" class="form-control" id="password" name="password" required>
                </div>
                <!--
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                -->
                <a routerLink="/register">Non hai un account? Registrati!</a>
                <div class="text-end mt-4">
                  <button (click)="Login()" type="submit" class="btn btn-primary">Accedi</button>
                </div>
              </form>
        </div>
    </div>
</div>

